{% extends 'base.html' %}
{% block main %}    
{% load static %}
<style>
  input,select{width: 100%;}
</style>
<link rel="stylesheet" href="{% static 'customer/css/main.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

  <div class="container">
    <div class="row justify-content-center align-items-center " style="height: 100vh;">
        <div class="col-12 ">
                    <div class="card">
                      <div>
                       <h2 class="card-header"> Form for New Customer</h2> 
                      </div>
                      <div class="card-body">
                        
                          <form method="post" >
                            {% csrf_token %}
                            
                            {{ form }}
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            
                            </form>
                            
                        
                        
                      </div>
                      
                    </div>
                    
        </div>
    </div>
    
  </div>
        
  
  
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="{% static 'customer/js/main.js' %}"></script>  


  
  {% endblock main %}