{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pharmacy Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="{% static 'customer/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      .disp {
        list-style: none;
        text-align: center;
        background-color: bisque;
        font-size: medium;
        height: 30px;
      

      }
      
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100" style="background-color: aqua;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{% url 'Customer_List' %}">
          
          <i class="fas fa-clinic-medical fa-lg"></i>  Mire Pharmacy Management System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <!--<li class="nav-item">
              <a class="nav-link" href="{% url 'Customer_List' %}">
                <i class="fa-solid fa-list fa-lg"></i> All Customers
              </a>
            </li>-->
            <li class="nav-item dropdown" data-bs-theme="light">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Customers</a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" rel="noopener"  href="{% url 'Customer_List' %}"><i class="fa-solid fa-list fa-lg"></i> Customers List</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'Customer_Create' %}"> <i class="fa-solid fa-plus fa-lg"></i> New Customer</a>                                
              </div>
            </li>

            <li class="nav-item dropdown" data-bs-theme="light">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Items</a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" rel="noopener"  href="{% url 'Item_List' %}"><i class="fa-solid fa-list fa-lg"></i> Items List</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'Item_Create' %}"> <i class="fa-solid fa-plus fa-lg"></i> New Item</a>                                
              </div>
            </li>

            <li class="nav-item dropdown" data-bs-theme="light">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Stock</a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" rel="noopener"  href="{% url 'Stock_List' %}"><i class="fa-solid fa-list fa-lg"></i> Stock List</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'Stock_Create' %}"> <i class="fa-solid fa-plus fa-lg"></i> New Stock</a>                                
              </div>
            </li>

            
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% if messages %}
        
        
          <ul class="messages">
            {% for message in messages %}
              <br>
              <li{% if message.tags %}  class="{{ message.tags }} disp"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        
      {% endif %}
      {% block body %}
      {% endblock %}
    </div>
    <footer class="mt-auto mb-3" >
      <div class="text-center">
        <span>
          Copyright &copy; <script>document.write(new Date().getFullYear())</script> Odoros Software Soultions.
        </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>